* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(133, 160, 132, 0.775);
}

h1,
h2,
h3,
p,
a {
    text-align: center;
}

ul,
li {
    text-align: center;
    list-style-position: inside;
}